{% extends "base.html" %}
{% block body %}
<h1 class="display-1">add Task </h1>
<p>
<form action="{{url_for('main.edit', pid=id)}}" method="POST">
  <div class="mb-3">
    <label for = "task" class="form-label">Task</label><br/>
    <textarea rows="1" id="task" class="form-control"
              name="task">
      {{task}}
    </textarea>
  </div>

  <div class="mb-3">
    <label for = "description" class="form-label">Description</label><br/>
    <textarea rows="2" id="description" class="form-control"
              name="description">
      {{description}}
    </textarea>
  </div>

  <div class="mb-3">
    <label for="due">Scheduled (date and time):</label>
    <input type="datetime-local" id="due" name="due">
  </div>

  <div class="mb-3">
    <label for = "status" class="form-label">status</label><br/>
    <input list="options"  id="status" class="form-control"
              name="status">
              <datalist id="options">
                <option value="to-do">
                <option value="In progress">
                <option value="Completed">
              </datalist>
      {{status}}
  </div>


  <div class="mb-3">
    <button type="submit" class="btn btn-primary">Update</button>
  </div>

</form>
</p>
{% endblock %}
