{% extends "base.html" %}
{% block body %}
<h2 class="display-3">EDIT DETAILS</h2>


<p>
<form action="{{url_for('main.edit', pid=id)}}" method="POST">
  <div class="mb-3">
      <label for="task" class="form-label">Task:</label><br>
      <input type="text" id="task" name="task" ><br>
      
  </div>
  <br>


  <div class="mb-3">
    <label for="due">Due:</label><br>
    <input type="datetime-local" id="due" name="due">
  </div>
<br>

  <div class="mb-3">
    <label for = "description" class="form-label">Description</label><br/>
    <textarea rows="2" id="description" class="form-control"
              name="description">
      {{description}}
    </textarea>
  </div>

<br>

  <div class="mb-3">
    <label for = "status" class="form-label">status</label><br/>
    <input list="options"  id="status" class="form-control"
              name="status">
              <datalist id="options">
                <option value="to-do">
                <option value="In progress">
                <option value="Completed">
              </datalist>
      {{status}}
  </div>


  <div class="mb-3">
    <button type="submit" class="btn btn-primary">Update</button>
  </div>

</form>
</p>
{% endblock %}
